
@model IEnumerable<RitshidzeNedzimauliStudyGroup.Models.MyStudents>
@{
    ViewBag.Title = "StudentsView";
}

<h2>StudentsView</h2>

<table class=" table"
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.surname)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
    </tr>

@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                </tr>
            }